<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>상세평가페이지</title>
    <link rel ="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel ="stylesheet" type="text/css" href="css/more_evaluation.css"/>
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  </head>

  <!--본문-->
  <body> 
    <form method="post" action="/evaluate_log">
   <header>
    <div id = "toplevel">
      <div id="movie-poster"><div>슬럼독 밀리어네어</div><a href=inter.jpg></a></div>
        <div class="star-card" data-type="total-score"> <div id="total-score">TOTAL SCORE</div> 
          <div class="star_container total">
            <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right" data-value=<%=i/2%>></span>
            <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
            <%}%>
          <%}%>
          <input type="hidden" name="Total_score" value="" >
          </div>
        </div>
    </div> 

<div id="mid-eval">
  <div id="type-list-wrap" > 
    <ul id="type-list" class="">
      <!-- 1.감독 -->
      <li class="star-card" data-type="director"><div id="type">1. DIRECTOR</div>
        <div class="picture_container">
        <% for(var i=0; i<director_result.length; i++) { %>
          <div class="picture_con">
            <img class="picture" src="<%=director_result[i].picture%>">
            <div class="name"><%=director_result[i].name%></div>
<!--             <%if(!director_result)%> -->
            <div class="role"><%=director_result[i].role%></div>
          </div>
        <% } %>
        </div>
        <!--감독의 별점 -->
        <div class="star_container">
          <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right " data-value=<%=i/2%>></span>
              <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
              <%}%>
            <%}%>
            <input type="hidden" name="Director_score" value="" >
        </div>
      </li>
           <!-- 2. 연기 -->
      <li class="star-card" data-type="act"><div id="type">2. ACT</div>  
      <div class="picture_container">
        <% for(var i=0; i<actor_result.length; i++) { %>
          <div class="picture_con">
            <img class="picture" src="<%=actor_result[i].picture%>">
            <div class="name"><%=actor_result[i].name%></div>
            <div class="role"><%=actor_result[i].role%></div>
          </div>
        <% } %>
        </div>
        <!--연기의 별점 -->
        <div class="star_container">
          <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right " data-value=<%=i/2%>></span>
              <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
              <%}%>
            <%}%>
            <input type="hidden" name="Act_score" value="" >
        </div>
      </li>

      <!--3. 각본  -->
      <li class="star-card" data-type="story"><div id="type">3. STORY</div>
      <div class="picture_container">
        <% for(var i=0; i<story_result.length; i++) { %>
          <div class="picture_con">
            <img class="picture" src="<%=story_result[i].picture%>">
            <div class="name"><%=story_result[i].name%></div>
            <div class="role"><%=story_result[i].role%></div>
          </div>
        <% } %>
        </div>
        <!-- 각본의 별점 -->
        <div class="star_container">
          <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right" data-value=<%=i/2%>></span>
              <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
              <%}%>
            <%}%>
            <input type="hidden" name="Story_score" value="" >
        </div>
      </li> 

      <!--4.음향  -->
      <li class="star-card" data-type="music"><div id="type">4. MUSIC</div>
      <div class="picture_container">
        <% for(var i=0; i<music_result.length; i++) { %>
          <div class="picture_con">
            <img class="picture" src="<%=music_result[i].picture%>">
            <div class="name"><%=music_result[i].name%></div>
            <div class="role"><%=music_result[i].role%></div>
          </div>
        <% } %>
        </div>
        <!-- 음향의 별점 -->
        <div class="star_container">
          <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right" data-value=<%=i/2%>></span>
              <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
              <%}%>
            <%}%>
            <input type="hidden" name="Music_score" value="" >
        </div>
      </li>
       <!--5.연출  -->
      <li class="star-card" data-type="visual"><div id="type">5. VISUAL</div>
      <div class="picture_container">
        <% for(var i=0; i<visual_result.length; i++) { %>
          <div class="picture_con">
            <img class="picture" src="<%=visual_result[i].picture%>">
            <div class="name"><%=visual_result[i].name%></div>
            <div class="role"><%=visual_result[i].role%></div>
          </div>
        <% } %>
        </div>
        <!-- 연출의 별점 -->
        <div class="star_container">
          <% for(var i = 1; i <= 10; i++){ %>
            <%if(i%2 == 0) {%>
              <span class="star half right" data-value=<%=i/2%>></span>
              <%} else {%>
              <span class="star half left" data-value=<%=i/2%>></span>
              <%}%>
            <%}%>
            <input type="hidden" name="Visual_score" value="" >
        </div>
      </li> 
    </ul>
  </div>   
</div>

    <div id="comment-wrap">
      <!--method:웹서버와의 통신 방법지정, action:입력양식에 입력된 값을 받아서 db에 저장하는 페이지 지정--> 
      <p>영화를 보고 난 후의 느낌을 기록하세요.</p>
      <textarea id="comment" rows="50" cols="70" name="comment"></textarea>
      <p><input id="send" type="submit" name="" alt="확인" value="확인"></input></p>
      <input type="hidden" name="UserIP" value="<?echo $REMOTE_ADDR?>">
      <!--폼 전송이 같이 전송해줘야 하는 정보.-->
      </form>
    </div> 

  </section>

 </body>
    <script type="text/javascript" src="js/rate_star.js" ></script>

 </html> 